#main-title{

    text-align: center;
}

#maintitle{

    text-align: center;
}


#hello{

   float: left;
   
}

#hello2{

    float: right;
   
}



ul{

    text-align: center;
}   


.linkhome{
    text-decoration: none;
    color: black;
    padding-right: 20px;   

}
.linkhome:hover{
    
    font-size:15px;

}

.class{

    text-decoration: none;
    color: black;
}

