#main-title{

    text-align: center;
    color: #2596be;

}

.maintitle{

    text-align: center;
    color: var(--secondary-color);
}

h2{

    color: var(--secondary-color);
}

#CV{

    background-color: #2596be;

    text-decoration: none;
    border-radius: 20%;
    padding: 8px;
    color: var(--secondary-color);
    
}


.github{

    text-decoration: none;
    color: orange;
    border-style:dashed;
    margin: 20px;
    padding: 50px;
  
}

.passions{

    text-decoration: none;
    color: #2596be;
    border-style:dashed;
    margin: 20px;
    padding: 50px;

}

#youtube{

    text-decoration: none;
    color: red;
    border-style:dashed;
    margin: 20px;
    padding: 50px;
}

#instagram{

    text-decoration: none;
    color: #cd486b;
    border-style:dashed;
    margin: 20px;
    padding: 50px;
}

#icon{
    cursor: pointer;
}



:root{

    --primary-color: white;
    --secondary-color: #212121;
    

}

.dark-theme{

    --primary-color: #212121;
    --secondary-color: white;

}


body{

    background: var(--primary-color);
}
