#main-title{

    text-align: center;
}

#maintitle{

    text-align: center;
   
}



ul{

    text-align: center;
}   


.linkhome{
    text-decoration: none;
    color: rgb(78, 141, 192);
    padding-right: 20px;   

}
.linkhome:hover{
    
    font-size:15px;

}

#github{

    text-decoration: none;
    color: orange;
    border-style: dotted;
    margin-left: 30%;
    padding: 50px;
    
}

#github2{

    text-decoration: none;
    color: orange;
    border-style: dotted;
    margin-left: 10%;
    padding: 50px;
    
}

